.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 20vw;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imgBlock {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.img {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  border: 1px solid gray;
}

.description {
  width: 100%;
}

.add-btn {
  width: 100%;
}
